body {
  background-image: url("imagen_fondo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

@font-face {
  font-family: "heart-breaking-bad-2";
  src: url("heart-breaking-bad-2.ttf");
}

h1 {
  color: white;
  text-align: center;
  font-family: "heart-breaking-bad-2";
  font-size: 280%;
}

h2 {
  color:white;
  text-align: center;
  font-family: "heart-breaking-bad-2";
  font-size: 240%;
}

h3 {
  color: white;
}

button {
text-decoration:none;
font-weight: 700;
font-size: 15px;
color:#333333;
padding-top:15px;
padding-bottom:15px;
padding-left:20px;
padding-right:20px;
background-color:#FEBE0E;
border-color: #CB980B;
border-width: 1px;
border-style: solid;
border-radius:55px;
}

p {
  color:white;
}

div{
  color: white;
}

.columna_izquierda {
  float: left;
  border-top: 50px;
  border-radius: 50px;
  width: 20%;
  background-color: rgba(205, 205, 205, 0.30);
  text-align: center;
  border: 1px solid #CCC;
}

.columna_derecha {
  float: right;
  border-top: 50px;
  border-radius: 50px;
  width: 70%;
  background-color: rgba(205, 205, 205, 0.30);
  border-left: 100px;
  border: 1px solid #CCC;
  padding: 50px;

}
